<p style="color: green"><%= notice %></p>

<div class="photo-gallery">
  <%= image_tag @photo.image.url %>
  <p>
    <strong>Title:</strong>
    <%= @photo.title %>
  </p>
</div>

<div>
  <%= link_to "Edit this photo", edit_photo_path(@photo) %> |
    <%= link_to "Back to photos", photos_path %>

  <%= button_to "Destroy this photo", @photo, method: :delete %>
</div>
<!-- Resto del contenido de la vista show.html.erb de la foto -->

